*{
    box-sizing: border-box;
}
header{
    position: sticky;
    background-color: rgba(214, 245, 214, 0.5);
    top:0px;
}
#logophongtra{
    display: block;
    float: left;
    width: 40%;
}
#logophongtra img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#luachon{
    display: block;
    float: left;
}
#ulluachon li{
    display: block;
    float: left;
    padding: 20px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    text-shadow: 1px 1px 2px rgba(129, 240, 126, 0.815),0 0 25px rgb(0, 255, 34),0 0 5px rgba(16, 204, 41, 0.349);
}
header::after{
    display: table;
    clear: both;
    content: " ";
}
section {
    background-image: url('../anh-lienhe/banner.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 100%;
    height: 700px;
}
#ttin{
    display: block;
    width: 30%;
    margin-left: 55%;
    margin-top: 100px;
}
#ttin p{
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
}
#ttin form{
    display: block;
}
#ttinnhap input{
    display: block;
    width: 100%;
    float: left;
    border: 2px solid green;
    margin: 10px 0px;
    padding: 10px;
}
#ttinnhap button{
    display: block;
    padding: 10px 20px;
    background-color: greenyellow;
    border: none;
}
section::after{
    display:table;
    clear: both;
    content: " ";
}
#footer .anhnen{
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#footer .ket{
    display: block;
    float: left;
    width: 25%;
    font-size: smaller;
    margin-left: 10px;
}
/* ----------- iPhone 6 ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
 
}
 
/* Landscape */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 
}
 
/* ----------- iPhone 6+ ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
 
}
 
/* Landscape */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
 
}
/* ----------- HTC One ----------- */
 
/* Portrait and Landscape */
@media screen
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
 
}
 
/* Portrait */
@media screen
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
 
}
 
/* Landscape */
@media screen
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
 
}
/* ----------- iPad mini ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}
 
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* Landscape */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
 
}
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
 
/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}